mat-toolbar {
  .notification-label {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: #f44336;
    border: 4px solid #f44336;
    color: white;
    text-align: center;
  }
  &.main-header {
    padding: 0 8px;
    position: relative;
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
    z-index: 9;
    .branding {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: auto 0;
      line-height: 50px;
      padding: 0 64px 0 16px;
    }
    .search-bar {
      .search-form {
        background: rgba(255,255,255,1);
        position: relative;
        border-radius: 50px;
        margin-left: 100px;
        margin-right: 1rem;
        display: block;
        max-width: 800px;
        input {
          font-size: 1rem;
          padding: .95rem .75rem;
          z-index: 2;
          cursor: text;
          text-indent: 30px;
          border: none;
          background: transparent;
          width: 100%;
          outline: 0;
        }
        .material-icons {
          position: absolute;
          top: 50%;
          left: 10px;
          margin-top: -12px;
          color: #ffbf00;
        }
      }
    }
  }
}
