.task-completed {
  color: #9d9d9d;
  text-decoration: line-through;
}

.list-item {
  width: 100%;
  border-bottom: 1px solid #CCC;
}

.list-item button .material-icons {
  font-size: 16px;
  padding: 0;
}

.list-item button {
  float: right;
  margin: -4px 5px;
  width: 30px;
  height: 30px;
}

.list-item /deep/ .mat-checkbox-label {
  margin: 10px 0;
}
