
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-ngrx-example-primary: mat-palette($mat-blue, 800);
$angular-ngrx-example-accent: mat-palette($mat-pink, 400);

// The warn palette is optional (defaults to red).
$angular-ngrx-example-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-ngrx-example-theme: mat-light-theme((
  color: (
    primary: $angular-ngrx-example-primary,
    accent: $angular-ngrx-example-accent,
    warn: $angular-ngrx-example-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-ngrx-example-theme);

/* You can add global styles to this file, and also import other style files */
$foreground: map-get($angular-ngrx-example-theme, foreground);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
