.background-none {
  background-color: transparent;
  box-shadow: none;
}

.text-md { font-size: 80% !important; }
.text-xl { font-size: 120% !important; }
.pa-1 { padding: 1rem 1rem; }
.ma-0 { margin: 0 0; }
.mat-text-primary { color: #2e7d32; }
.mat-text-secondary { color: #38006b; }

.media-grid {
  text-align: center;
  overflow: hidden;
  figure {
    position: relative;
    text-align: center;
    cursor: pointer;
    background: rgba(0,0,0,.38);
    text-align: left;
    border-radius: 2px 2px 0 0;
    text-align: center;
  }
  figure img {
    position: relative;
    display: block;
    max-width: 100%;
    border-radius: 2px 2px 0 0;
  }
}
